/* Centered texts in each section
* --------------------------------------- */
.section{
  text-align:center;
}

/* *** 2.Section als Sprechzeitendesign *** */
/*Tabelle der Sprechzeiten*/
/* TODO: Tabelle der Sprechzeiten anpassen */
/* TODO: Auf kleinen Bildschirmen keine feste Größe und auf den Größeren 60% */
/* TODO: im Mobilen bereich kein Rahmen???? */
#sprechzeiten{
}
#sprechzeiten>h1{
  margin-top: 5%;
  font-size: 5vh;
}
.tabelle{
  border: 4px solid #00AFB2;
  height: 60%;
  /*border-width: thin;*/
}
.tabelle>h3{
  font-size: 2em;
  border-bottom:2px solid;
  padding-bottom: 10px;
}
.mitteTabelle{
  border-left-width: 2px;
  border-right-width: 2px;
  background-color:#D8D8D8;
}
#startTabelle{
  border-right-width: 2px;
  background-color:#E6E6E6;
}
#mitteTabelle{
  background-color:#E6E6E6;
}
#endeTabelle{
  border-left-width: 2px;
  background-color:#E6E6E6;
}
/* *** Tabelle Ende *** */

#ersteSimg{
  position: absolute;
  top: 0;
  left: 0;
}

/* menu design */
#menu li {
  display: block;
  height: 10px;
  width: 10px;
	margin: 10px;
	background: rgba(0, 175, 178, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background: rgba(0,0,0, 0.5);
}
#menu li:hover{
	background: rgba(250,88,88, 0.8);
}
.fp-controlArrow.fp-next{
  border-color: transparent rgba(0, 175, 178, 0.5) transparent;
}
.fp-controlArrow.fp-prev{
  border-color: transparent rgba(0, 175, 178, 0.5) transparent;
}
#menu > li a,
#menu > li.active a{
	padding: 9px 18px;
	display:block;
}
#menu{
	position:fixed;
	top: 60px;
	left:0;
	z-index: 70;
	padding: 0;
	margin:0;
}
/*Startseite mit den Elementen*/
.row{
  /*height: calc(100% - 50px);*/
  padding: 5px 25px 0px 25px;
  /* TODO: im Mobilen bereich aufpassen zum normalen Berich */
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
}
h1, h3, h5, p{
  color: #00AFB2;
}
.intro > p{
  font-size: 300%;
  font-weight: bold;
}
.intro > img{
   height:20%;
   width: 20%;
   margin-top: 0;
}
#gruppenbild{
  margin-top: calc(50px + 5%);
  margin-left: 10%;
  width:80%;
  height:80%;
}
#beschreibung-gruppenbild{
  margin: 5%;
}
.einzelbilder{
  height: 100%;
  width: 100%;
}
.bilder-erklaerung{
  position: absolute;
  justify-content: space-around;
  /*align-items: center;*/
  bottom: 0;
  width: 100vw;
  margin-bottom: 5vh;
}
.legende-vorstellung{
  width: 50vw;
}
#mobile-dropdown{
  display: none;
}
#mobile-dropdown.active{
  position: fixed;
  top: 30px;
  right: 30px;
  display: block;
  float: left;
  text-align: right;
  font-size: 1.5em;
  margin: 15px;
  margin-left: 45px;
  background-color: #00AFB2;
  opacity: 0.9;
  border: 0.5px white solid;
  z-index: 96;
}
#mobile-dropdown.active>ul{
  padding-left: 0;
  /*width: calc(95vh - 50px);*/
}
#mobile-dropdown.active>ul>li{
  list-style: none;
  padding: 5px;
  margin-right: 40px;
  margin-left: 40px;
  border-bottom: 1px solid white;
}
#mobile-dropdown.active>ul>li>a{
  padding-bottom: 15px;
  /*width: calc(100% - 100px);*/
}
#mobile-dropdown.active>ul>li.last{
  padding-bottom: 5px;
  border: none;
}
@media only screen and (min-width: 576px) {
  #gruppenbild{
    width: 80%;
  }
  #picture{
    height: 60%;
  }
  /*.legende-vorstellung{
    height: 100px;
  }*/
}
@media only screen and (max-width: 576px) {
  .container{
    height:calc(100% - 60px);
    margin-top:60px;
  }
  #menu{
    top: 90px;
  }
  .fp-controlArrow.fp-next{
    border-width: 38.5px 0 38.5px  15px;
    border-color: transparent rgba(0, 175, 178, 0.5) transparent;
  }
  .fp-controlArrow.fp-prev{
    border-width: 38.5px 15px 38.5px 0;
    border-color: transparent rgba(0, 175, 178, 0.5) transparent;
  }
  #picture{
    width: 80%;
  }
  .einzelbilder{
    height: 35%;
    width: 35%;
  }
  .legende-vorstellung{
    /*display: none;*/
    width: 90%;
  }
}
