/* Centered texts in each section
* --------------------------------------- */
.section{
  text-align:center;
}
.container{
  height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  margin-top: 50px;
}
/* *** 2.Section als Sprechzeitendesign *** */
/*Tabelle der Sprechzeiten*/
/* TODO: Tabelle der Sprechzeiten anpassen */
/* TODO: Auf kleinen Bildschirmen keine feste Größe und auf den Größeren 60% */
/* TODO: im Mobilen bereich kein Rahmen???? */
#sprechzeiten{

}
#sprechzeiten>h1{
  margin-top: 15px;
  font-size: 5vh;
}
.tabelle{
  border: 2px solid #00AFB2;
  /*height: 30vh;*/
  /*border-width: thin;*/
  height: 60%;
}
.tabelle>h3{
  font-size: 1.5vw;
  font-weight: bold;
  border-bottom:1px solid;
  padding-bottom: 10px;
}
.tabelle>h5{
  font-size: 1.2vw;
}
.tabelle>h6{
  font-size: 1.1vw;
}
.mitteTabelle{
  border-left-width: 1px;
  border-right-width: 1px;
  background-color:#D8D8D8;
}
#startTabelle{
  border-right-width: 1px;
  background-color:#E6E6E6;
}
#mitteTabelle{
  background-color:#E6E6E6;
}
#endeTabelle{
  border-left-width: 1px;
  background-color:#E6E6E6;
}
.sprechzeiten-infos{
  max-height: 20vh;
  overflow:  auto;
  text-align: left;
  margin-top: 15px;
}
.sprechzeiten-infos>div>p{
  margin-bottom: 0px;
}
/* *** Tabelle Ende *** */

#ersteSimg{
  position: absolute;
  top: 0;
  left: 0;
}

/* menu design */
#menu li {
  display: block;
  height: 10px;
  width: 10px;
	margin: 10px;
	background: rgba(0, 175, 178, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background: rgba(0,0,0, 0.5);
}
#menu li:hover{
	background: rgba(250,88,88, 0.8);
}
.fp-controlArrow.fp-next{
  border-color: transparent rgba(0, 175, 178, 0.5) transparent;
}
.fp-controlArrow.fp-prev{
  border-color: transparent rgba(0, 175, 178, 0.5) transparent;
}
#menu > li a,
#menu > li.active a{
	padding: 9px 18px;
	display:block;
}
#menu{
	position:fixed;
	top: 60px;
	left:0;
	z-index: 70;
	padding: 0;
	margin:0;
}
/*Startseite mit den Elementen*/
.row{
  padding: 5px 25px 0px 25px;
  /* TODO: im Mobilen bereich aufpassen zum normalen Berich */
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
}
.intro > p{
  font-size: 300%;
  font-weight: bold;
}
.intro > img{
   height:20%;
   width: 20%;
   margin-top: 0;
}
#gruppenbild{
  margin-top: calc(50px + 5%);
  margin-left: 10%;
  width:80%;
  height:80%;
}
#beschreibung-gruppenbild{
  margin: 5%;
}
.einzelbilder{
  height: 100%;
  width: 100%;
  max-width: 260px;
  max-height: 260px;
}
.beschreibung-einzelbilder{
  padding: 5px;
}
.bilder-erklaerung{
  position: absolute;
  justify-content: center;
  bottom: 0;
  width: 100vw;
  margin-bottom: 5vh;
}
.legende-vorstellung{
  width: 50vw;
  max-width: 500px;
  max-height: 100px;
}
@media only screen and (min-width: 576px) {
  .einzelbilder{
    margin-bottom: 15px;
  }
  .beschreibung-einzelbilder{
    display: inline-block;
  }
  #gruppenbild{
    width: 80%;
  }
  #picture{
    height: 60%;
  }
  /*.legende-vorstellung{
    height: 100px;
  }*/
  .hide-tabelle{
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .container{
    height:calc(100% - 90px);
    margin-top:90px;
  }
  #menu{
    top: 90px;
  }
  .fp-controlArrow.fp-next{
    border-width: 38.5px 0 38.5px  15px;
    border-color: transparent rgba(0, 175, 178, 0.5) transparent;
  }
  .fp-controlArrow.fp-prev{
    border-width: 38.5px 15px 38.5px 0;
    border-color: transparent rgba(0, 175, 178, 0.5) transparent;
  }
  #picture{
    width: 80%;
  }
  .picture{
    display: flex;
    justify-content: center;
  }
  .einzelbilder{
    height: 35%;
    width: 35%;
    margin-right: 5px;
    /*float: left;*/
  }
  .legende-vorstellung{
    width: 90%;
  }
  /*Tabellen design*/
  .hide-tabelle{
    margin-top: -15px;
  }
  .sprechzeiten-infos{
    display: none;
  }
  .tabelle>h6{
    /*display: none;*/
    font-size: 2.5vw;
  }
  .tabelle{
    height: auto;
    max-height: 30%;
  }
  .tabelle>h3{
    font-size: 5vw;
    padding-bottom: 5px;
    margin-top: 5px;
  }
  .tabelle>h5{
    font-size: 4vw;

  }
}
